div.sideBar {
    width: 20%;
    padding-top: 60px;
    height: 100vh;
    float: left;
    display: inline-block;
    padding-left: 40px;

}

img {
    height: 50px;
    width: auto;
    margin-bottom: 90px;
}

.sideBar h3 {
    line-height: 22px;
    font-family: 'GloberBold', sans-serif;
    font-size: 11px;
    color: #6492c2;
}

a.active {
    color: #ffffff;
    position: relative;
}

a.active:before {
    content: '';
    position: absolute;
    height: 40px;
    width: 5px;
    left: -40px;
    background-color: var(--theme-primary);

}
nav {
    width: calc(100% - 80px);
    border-bottom: 1px solid rgba(100,146,194,.7);
    margin-bottom: 40px;
}
nav a {
    display: block;
    font-family: 'GloberRegular', sans-serif;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    color: #6492c2;
}
nav a:last-child{
    margin-bottom: 30px;
}

nav a:hover {
    text-decoration: none;
    color: #ffffff;
}
p{
    color: #6492c2;
    font-family: 'GloberBold', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 22px;
}
h2{
    color: #6492c2;
    font-family: 'GloberBold', sans-serif;
    font-size: 20px;
    line-height: 50px;
}
